<strong>CoyoteLab</strong><br />
<br />
You are receiving this email because an account has been created for you.<br />
<br />
Your username is <strong>{{ username }}</strong>.
Your temporary password is <strong>{{ password }}</strong>. Please <a href="{{ url }}">log in</a> to change it.
