<strong>CoyoteLab</strong><br />
<br />
You are receiving this email because you have requested a password reset.<br/>
<br />
Your new temporary password is <strong>{{ password }}</strong>. Please log in with your new password to change it.
