{% extends 'base.jinja' %}

{% block main %}
<div class="page-head">
	<h2>{{ course.name }}</h2>
	<h3>{{ course.instructor.name }}</h3>

	<div class="page-nav">
		{% if course.webpage %}
		<a href="{{ course.webpage }}">Course Webpage</a> |
		{% endif %}
		<a href="mailto:{{ course.instructor.email }}">Contact Instructor</a>
	</div>
</div>

<p>
	Course runs from {{ course.start_date.strftime('%b %d, %Y') }} to {{ course.end_date.strftime('%b %d, %Y') }}.
</p>

<p>{{ course.description }}</p>
{% endblock %}
