{% if get_flashed_messages() %}
<div class="alert">{{ get_flashed_messages()[0] }}</div>
{% endif %}

<h1>Courses</h1>

{% if courses %}
<ul>
{% for course in courses %}
	<li>{{ course.name }} - {{ course.students|count }} students. <a href="{{ url_for('instructor.edit_course', course_id=course.id) }}">Edit</a> <a href="{{ url_for('instructor.students', course_id=course.id) }}">Students</a> <a href="{{ url_for('main.hello') }}">Workspace</a></li>
{% endfor %}
</ul>
{% else %}
No courses found!
{% endif %}

<a href="{{ url_for('instructor.add_course') }}">Add course</a>
