<h1>{{ course.name }}</h1>

<h2>Add Students from File</h2>

File format:<br><br>
<pre>user_id,email</pre>
All users will receive a temporary password to log in with<br><br>

{% include 'form.jinja' %}
