/**
 * Colors via https://www.materialpalette.com/light-blue/indigo
 */

$primary_main: #03A9F4;
$primary_dark: #0288D1;
$primary_light: #B3E5Fc;

$accent: #536DFE;
$accent_invert: #AC9201;

$text_primary: 212121;
$text_secondary: #757575;
$text_light: #FFFFFF;

$divider: #BDBDBD;