.workspace {
	width: 648px;
	margin: 0 auto;

	display: flex;
	
	background: #000000;

	margin-top: 8px;
}

#terminal {
	border: #000000 solid 8px;

	flex: 0 0 600px;
}

.controls {
	width: 48px;

	flex: 1;

	img {
		display: block;

		margin: 8px 0 8px 4px;

		width: 16px; height: 16px;
	}
}

.control-container {
	position: relative;
	height: 100%;
}

.clear {
	clear: both;
}

#reset {
	position: absolute;
	bottom: 12px;
}

// overriding some xterm.js stuff
.terminal {
	color: #f0f0f0;

	line-height: 130%;
	font-family: "Source Code Pro", monospace;
	font-size: 12px;
}
