{% extends 'base.jinja' %}

{% macro render_field(field) %}
	{% if field.name != 'csrf_token' and field.name != 'submit' %}
	<tr>
		<td class="compact">
			{{ field.label }}
		</td>
		<td class="expand">
			{{ field(**kwargs)|safe }}

			{% if field.errors %}
				{% for error in field.errors %}
					<div class="error">
						{{ error }}
					</div>
				{% endfor %}
			{% endif %}
		</td>
	</tr>
	{% endif %}
{% endmacro %}

{% block main %}
<form method="post"{% if form.file %} enctype="multipart/form-data"{% endif %}>
	{{ form.csrf_token }}

	<table class="form">
	{% for field in form %}
		{{ render_field(field) }}
	{% endfor %}
	</table>

	<div class="set-right">
		{{ form.submit }}
	</div>
</form>
{% endblock %}
