{% extends 'form.jinja' %}

{% block main %}
<h2>Log In</h2>

<p>Enter your username and password to continue. If you aren't sure of your login details, check your email or get in touch with your instructor.</p>

{{ super() }}
{% endblock %}
