{% extends 'base.jinja' %}

{% block styles %}
<link href="{{ url_for('static', filename='css/xterm.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/workspace.css') }}" rel="stylesheet" />
{% endblock %}

{% block main %}
<h2>{{ course.name }}</h2>
<h3>
{% if user %}
{{ user.name }}'s Student
{% elif is_instructor() %}
Instructor
{% else %}
Student
{% endif %}
 Workspace
</h3>

<p>This is your workspace for the course. On the left, you have your terminal connected to a personal Linux machine. On the right, there are some controls that allow you to restart and reset your machine.</p>

<div class="workspace">
	<div id="terminal"></div>
	<div class="controls">
		<div class="control-container">
			<a href="{{ url_for('workspace.workspace', course_id=course.id, student_id=user.id if user else None) }}">
				<img src="{{ url_for('static', filename='img/restart.png') }}">
			</a>
			<a href="{{ url_for('workspace.download_files', course_id=course.id, student_id=user.id if user else None) }}">
				<img src="{{ url_for('static', filename='img/download.png') }}">
			</a>
			{# should be sufficient as the rest of the ownerships are done
			   before this template can even be rendered #}
			{% if not is_instructor() or not user %}
			<a href="{{ url_for('workspace.reset', course_id=course.id) }}" id="reset">
				<img src="{{ url_for('static', filename='img/reset.png') }}">
			</a>
			{% endif %}
		</div>
	</div>
</div>

<div class="clear"></div>

{% endblock %}

{% block scripts %}
<script type="application/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="application/javascript">
    document.onreadystatechange = function() {
        if(document.readyState == 'complete' || document.readyState == 'loaded') {
           workspace_init(document.getElementById('terminal'), fix_prefix('{{ url_for("workspace.connect", course_id=course.id, student_id=user.id if user else None, _external=True) }}'));
        }

        document.getElementById('reset').onclick = confirm_reset;
    }
</script>
{% endblock %}
