<head>
    <link href="{{url_for('static', filename='css/xterm.css')}}" rel="stylesheet" />
</head>

<body>
    <h1>{{ course.name }}</h1>

    <div id="terminal"></div>

    <a href="{{ url_for('workspace.workspace', course_id=course.id) }}">Reboot</a>
    <a href="{{ url_for('workspace.reset', course_id=course.id) }}">Reset</a>

    <script type="application/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    <script type="application/javascript">
        document.onreadystatechange = function() {
            if(document.readyState == 'complete' || document.readyState == 'loaded') {
                workspace_init(document.getElementById('terminal'), fix_prefix('{{ url_for("workspace.connect", course_id=course.id, student_id=user.id if user else None, _external=True) }}')); 
            }
        }
    </script>
</body>